/* Base Application Styles */
html, body {
    height: 100%;
}

body {
    color: #fff;
}

body, textarea, select, input {
    font-family: "Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",tahoma,arial,simsun,"\5B8B\4F53";
    color: #999;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#app, .main{
    height: 100%;
}

.nav {
    overflow: hidden;
}

.nav li {
    padding: 12px 12px 8px;
    float: left;
}

.nav a {
    color: #999;
}

.nav a.active {
    color: #40ce8f;
}
