
#app {
    font-family: 'Microsoft Yahei';
}

div {
    font-size: 12px;
}

[data-dpr="2"] div {
    font-size: 24px;
}

[data-dpr="3"] div {
    font-size: 36px;
}

.neteast {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.middle {
    font-size: 14px;
}

[data-dpr="2"] .middle {
    font-size: 28px;
}

[data-dpr="3"] .middle {
    font-size: 42px;
}

.player-page {
    height: 100%;
    width: 100%;
    color: #fff;
    overflow: hidden;
    position: fixed;
    left: 0; 
    top:0;
    z-index: 999;
    transition: transform 0.4s ease;
    background-color: #ccc;
}

.playlist_module .player-page{
    transform: translateX(100%);
}

.player_module .player-page{
    transform: translateX(0);
}

.player-bg {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.player-bg2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.player-header {
    padding-top: 0.3rem;
}

.player-back {
    width: 1.6rem;
    height: 1.2rem;
    background: url(../images/neteast/i4.png) no-repeat center;
    background-size: 0.72rem;
    float: left;
}

.player-title {
    margin-left: 1.7rem;
    width: 75%;
    height: 1.2rem;
    padding-top: 0.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.player-title .title {
    font-size: 16px;
}
[data-dpr="2"] .player-title .title {
    font-size: 32px;
}
[data-dpr="3"] .player-title .title {
    font-size: 48px;
}

.player-title .artist {
    color: #ccc;
}

.player-center {
    position: relative;
    overflow: hidden;
    height: 60%;
    z-index: 3;
}

.player-center .play-line {
    height: 1px;
    background: url(../images/neteast/a0j.png) no-repeat center top;
    background-size: 9rem 1px;
    opacity: 0.2;
}

.player-center .player-bang {
    background: url(../images/neteast/ab6-2.png) no-repeat center;
    background-size: 2.5rem 3.7rem;
    width: 2.5rem;
    height: 3.7rem;
    position: absolute;
    left: 50%;
    top: -0.45rem;
    margin-left: -0.45rem;
    transform-origin:19.35% 12.83%;
    transform: rotate(-30deg);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.play.player-center .player-bang {  
    transform: rotate(2deg);
}

.player-cd {
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: -3.75rem;
    left: 50%;
    top: 1.8rem;
    z-index: 1;
}

.play .player-cd {
    animation: 20s linear 0s normal none infinite rotate;
}

@keyframes rotate {
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}

.cd-img {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.cd-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/neteast/a_c.png) no-repeat center center;
    background-size: 100%;
}

.player-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.player-option {
    height: 1rem;
    padding: 0 0.8rem;
}

.player-option .item {
    float: left;
    width: 25%;
    height: 1rem;
    text-align: center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    background-position: center;
}

.player-option .item.love {
    background-image: url(../images/neteast/aaa.png);
}
.player-option .item.download {
    background-image: url(../images/neteast/aa0.png);
}
.player-option .item.comment {
    background-image: url(../images/neteast/a_w.png);
    text-indent: 3em;
    height: 0.85rem;
    padding-top: 0.15rem;
    color: #ccc;
}
.player-option .item.more {
    background-image: url(../images/neteast/aah.png);
}

.small {
    font-size: 8px;
}

[data-dpr="2"] .small {
    font-size: 16px;
}

[data-dpr="3"] .small {
    font-size: 24px;
}

.player-progress {
    height: 0.5rem;
    position: relative;
    padding-top: 0.4rem;
}

.player-progress .time {
    color: #ccc;
    position: absolute;
}

.player-progress .time.left {
    left: 0.5rem;
}

.player-progress .time.right {
    right: 0.5rem;
}

.player-progress .bar {
    margin: 0.16rem 1.6rem;
    height: 0.08rem;
    background: rgba(255,255,255,0.2);
    position: relative;
}

.player-progress .bar .loaded {
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(255,255,255,0.4);
}

.player-progress .bar .played {
    position: absolute;
    width: 0;
    height: 100%;
    background: #FF3838;
}

.player-progress .bar .point {
    width: 0.42rem;
    height: 0.42rem;
    background: url(../images/neteast/abc.png) no-repeat center;
    background-size: 0.42rem 0.42rem;
    position: absolute;
    right: 0;
    transform: translate(50%, -40%);
}

.player-progress .bar .point .loading{
    width: 0.45rem;
    height: 0.45rem;
    background: url(../images/neteast/abd.png) no-repeat center;
    background-size: 75%;
    animation: 1s linear 0s normal none infinite rotate;
}

.player-controller {
    height: 1.8rem;
    padding: 0.2rem 2rem 0.3rem;
    position: relative;
}

.player-controller .list {
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/neteast/ab1.png) no-repeat center;
    background-size: 1.8rem auto;
    position: absolute;
    right: 0;
} 

.player-controller .random {
    width: 1.8rem;
    height: 1.8rem;
    background: url(../images/neteast/aay.png) no-repeat center;
    background-size: 1.8rem auto;
    position: absolute;
    left: 0;
}

.player-controller .prev {
    float: left;
    width: 25%;
    height: 1.8rem;
    background: url(../images/neteast/a_1.png) no-repeat center;
    background-size: 1.8rem;
}
.player-controller .next {
    float: left;
    width: 25%;
    height: 1.8rem;
    background: url(../images/neteast/a9v.png) no-repeat center;
    background-size: 1.8rem;
}
.player-controller .play {
    float: left;
    width: 50%;
    height: 1.8rem;
    background: url(../images/neteast/abh.png) no-repeat center;
    background-size: 2.4rem;
}
.player-controller .play.pause {
    background-image: url(../images/neteast/abj.png);
}

.playlist-page {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.playlist-box {
    padding: 0.3rem;
    background-color: #ededef;
}

.playlist-page .playlist{
    border-radius: 0.15rem;
    box-shadow: 0px 0.4rem 0.7rem -0.3rem rgba(0,0,0,0.3);
    background-color: #fff;
    padding: 0.2rem 0;
}

.playlist-page .playlist .item {
    padding: 0.2rem 0.5rem;
}

.playlist-page .playlist .item.active {
    background-color: #40ce8f;
    color: #fff;
}

/*歌词*/
.player-center .lyric-page {
    opacity: 0;
    transition: opacity,transform 0.5s;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 35%;
}

.player-center .cd-page {
    opacity: 0;
    transition: opacity 0.5s;
}

.player-center .lyric-page .item{
    padding: 0 1rem 0.4rem;
    opacity: 0.7;
}

.player-center .lyric-page .item.active {
    opacity: 1;
}

.player-center.show-cd .cd-page {
    opacity: 1;
}

.player-center.show-lyric .lyric-page {
    opacity: 1;
}